@import url(https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700);

body {
	padding:50px;
	font:15px Work Sans;
	font-weight: 400;
}

.wrapper {
	width:880px;
	margin:0 auto;
}

section {
	padding: 20;
	margin: 0;
	/*border: solid;*/
}

.image-frame {
	border-radius: 100;
}

h1 {
	font-size: 30px;
	font-weight: 200;
	margin: 0 0 0 0;
}

h2 {
	font-size: 20px;
	font-weight: 200;
	margin: 0 0 0 0;
}

.date {
	font-style: italic;
	padding: 0 10 0 0;
	width: 60px;
	float: left;
}

a {
	/*color: 297C95;*/
	color:darkorange;
	text-decoration: none;
	font-weight: 400
}

#news a {
	color:steelblue;
}

ul {
  list-style-type: none;
  margin: 0;
  /*border: solid;*/
  /*padding: 0;*/
}

li.news {
	padding: 0;
}

li {
	padding: 10;
}

b {
	font-weight: 600;
}

.highlight {
	/*font-weight: 600;*/
	background-color: gainsboro;
}